.form-wrapper {
	background-image: url("/assets/restaurant.jpg");
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
}

.booking h1 {
	color: var(--green);
	text-align: center;
}

form {
	border-radius: 16px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

fieldset {
	background-color: #fff;
	border-radius: 16px;
}

.field {
  margin: 20px;
}

input {
	border: 1px solid black;
	border-bottom: 3px solid gray;
	border-radius: 5px;
	outline: none;
	padding: 6px;
	font-size: 16px;
	margin: 10px;
}

select {
	border-bottom: 3px solid gray;
    border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin: 20px;
}

.btn-container {
	display: flex;
	justify-content: center;
	margin: 20px;
	border-radius: 16px;
}

.confirmed {
	background-color: var(--green);
	border-radius: 16px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin: 80px;
}

.confirmed h1 {
	color: var(--yellow);
	margin: 100px;
}

.confirmed h2 {
	color: #fff;
	font-size: 32px;
	margin: 50px 20px;
}

.confirmed p {
	color: #fff;
	margin-bottom: 100px;
	font-size: 20px;
}

.confirmed-btn {
		margin: 20px;
		text-align: center;
}